//@using System.Collections.Generic
@using System.Diagnostics
@using System.Linq
@using ISB.Website.ViewModels
@using ISB.Website.ViewModels.DocTypes
@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
    var article = Model.Content.As<Article>();
}

<p>
    @article.Summary
</p>


@Html.Partial("~/Views/Article/_rightsidebar.cshtml", article)