//@using System.Collections.Generic
@using System.Diagnostics
@using System.Linq
@using DotNetOpenAuth.OpenId.Extensions.AttributeExchange
@using ISB.Website.ViewModels
@using ISB.Website.ViewModels.DocTypes
@using Our.Umbraco.Ditto
@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<ISB.Website.ViewModels.DocTypes.Base.ViewModel<ContactUs>>*@
@inherits UmbracoTemplatePage
@{
    var contactUs = Model.Content.As<ContactUs>();
}


<h1>Contact Us</h1>

@contactUs.BodyText

@Html.Partial("_ContactForm", new ContactForm())